<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QUER SER PRESIDENTE?</title>
</head>
<body>
<h1 style="text-align: center;">&nbsp;</h1>
<h1 style="text-align: center;">QUER SER PRESIDENTE?</h1>
<h1 style="text-align: center;"><strong style="font-size: 14px;"><img src="https://1.bp.blogspot.com/-i7ONVTMHVhQ/V9-5Hwuet0I/AAAAAAAABJw/2iG1HxS7Ddkt4R9ZSLSxsPvIHk2WC-v9ACLcB/s1600/traje_interrogacion-960x1143.jpg" alt="" width="375" height="446" /><br /></strong></h1>
<h2 style="text-align: center;">API desenvolvida durante o Entra 21 - 2022. Python Vespertino SENAC Blumenau.</h2>
<h2 style="text-align: center;">Para utilizar a API, preencha ao final do endere&ccedil;o deste site, a sua idade</h2>
<h2 style="text-align: center;">Exemplo:</h2>
<h2 style="text-align: center;">https://presidente.silvavitor.repl.co<span style="color: #ff0000;">/35</span></h2>
<h2 style="text-align: center;"><strong><span style="color: #000000;">API desenvolvida por Vitor da Silva</span></strong></h2>
</body>
</html>